<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./src/input.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="flex justify-center items-center">
      <form
        class="flex flex-col m-40 max-w-sm"
        action="https://getform.io/f/c4b255f7-0ba1-4528-8151-aaef6f265649"
        method="post"
      >
        <label class="text-indigo-950" for="Name">Як до вас звертатись?*</label>
        <input
          placeholder="Ім'я, прізвище"
          type="text"
          name="Name"
          class="p-2 rounded-3xl border-4 border-purple-200 border-solid"
          required
        />

        <label class="text-indigo-950" for="Company"
          >Яку компанію представляєте?</label
        >
        <input
          placeholder="Назва"
          type="text"
          name="Company"
          spellcheck="true"
          class="p-2 rounded-3xl border-4 border-purple-200 border-solid"
        />

        <label for="email">Електронна пошта*</label>
        <input
          type="text"
          placeholder="example@example.com"
          name="email"
          spellcheck="true"
          class="p-2 rounded-3xl border-4 border-purple-200 border-solid required:invalid:"
          required
        />

        <label for="phone-number">Телефон</label>
        <input
          type="text"
          placeholder="+38(000) 000-00-00"
          name="phone-number"
          spellcheck="true"
          class="p-2 rounded-3xl border-4 border-purple-200 border-solid"
        />

        <label for="services">Яка послуга вас цікавить?</label>
        <div class="flex flex-col">
          <label class="inline-flex items-center mt-1">
            <input type="hidden" name="layout-coding" value="no" />
            <input
              type="checkbox"
              name="layout-coding"
              value="yes"
              class="form-checkbox h-4 w-4 transition duration-150 ease-in-out"
            />
            <label
              for="layout-coding"
              class="ml-2 text-gray-700 transition duration-150 ease-in-out"
              >Верстка лендінгу/сайту</label
            >
          </label>
          <label class="inline-flex items-center mt-1">
            <input type="hidden" name="mail-coding" value="no" />
            <input
              type="checkbox"
              name="mail-coding"
              value="yes"
              class="form-checkbox h-4 w-4 transition duration-150 ease-in-out"
            />
            <label
              for="mail-coding"
              class="ml-2 text-gray-700 transition duration-150 ease-in-out"
              >Верстка імейлів</label
            >
          </label>
          <label class="inline-flex items-center mt-1">
            <input type="hidden" name="front-end-development" value="no" />
            <input
              type="checkbox"
              name="front-end-development"
              value="yes"
              class="form-checkbox h-4 w-4 transition duration-150 ease-in-out"
            />
            <label
              for="front-end-development"
              class="ml-2 text-gray-700 transition duration-150 ease-in-out"
              >Front-end розробка сайту</label
            >
          </label>
          <label class="inline-flex items-center mt-1">
            <input type="hidden" name="adaptive-coding" value="no" />
            <input
              type="checkbox"
              name="adaptive-coding"
              value="yes"
              class="form-checkbox h-4 w-4 transition duration-150 ease-in-out"
            />
            <label
              for="adaptive-coding"
              class="ml-2 text-gray-700 transition duration-150 ease-in-out"
              >Адаптація верстки під різні екрани</label
            >
          </label>
          <label class="inline-flex items-center mt-1">
            <input type="hidden" name="seo-adaptation" value="no" />
            <input
              type="checkbox"
              name="seo-adaptation"
              value="yes"
              class="form-checkbox h-4 w-4 transition duration-150 ease-in-out"
            />
            <label
              for="seo-adaptation"
              class="ml-2 text-gray-700 transition duration-150 ease-in-out"
              >Оптимізація сайту під вимоги SEO</label
            >
          </label>
        </div>

        <label for="descroption">Додаткова інформація</label>
        <textarea
          placeholder="Опишіть важливі моменти вашого веб-проєкту"
          name="descroption"
          rows="4"
          cols="50"
          class="p-2 rounded-3xl border-4 border-purple-200 border-solid"
        ></textarea>
        <div class="flex justify-center">
          <button
            type="submit"
            class="text-white font-medium bg-pink-400 p-4 w-40 h-16 m-4 rounded-full"
          >
            Відправити
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
