<header
  class="shadow-sm bg-purple-200 font-['roboto-slab'] bg-purple-200 w-full fixed top-0 z-50"
  x-data="{ expanded: false, open: false }"
>
  <div
    class="flex justify-between items-center mx-auto max-w-screen-xl box-border sm:p-4 p-2"
  >
    <div class="flex gap-6">
      <a href="/index.html" id="logo" class="cursor-pointer">
        <img src="/images/logo.svg" alt="company logo" width="80" />
      </a>
      <nav class="md:flex items-center gap-6 hidden">
        <a
          href="#about_us"
          class="text-sm font-medium hover:cursor-pointer relative group md:font-bold md:text-lg"
        >
          Про нас
        </a>
        <a
          href="#skills"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Що вміємо
        </a>

        <a
          href="#why_us"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Чому ми?
        </a>
        <a
          href="#team"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Команда
        </a>
      </nav>
    </div>

    <button
      class="self-center rounded-full bg-pink-400 lg:text-3xl text-2xl text-white block border-2 border-transparent hover:bg-white hover:text-pink-400 hover:border-2 hover:border-pink-400 cursor-[url(hand.cur),_pointer] px-8 py-1 font-bold"
    >
      <a href="../src/partials/form.html">Зв'язатися</a>
    </button>
    <!-- ........
      hamburger 
    -->
    <button
      class="block md:hidden text-indigo-950 w-10 h-10 relative focus:outline-none"
    >
      <div
        class="block w-8 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
        @click="expanded = ! expanded, open = expanded"
      >
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-full bg-current transform transition duration-500 ease-in-out"
          :class="{'rotate-45': open,' -translate-y-1.5': !open }"
        ></span>
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-full bg-current transform transition duration-500 ease-in-out"
          :class="{'opacity-0': open } "
        ></span>
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-full bg-current transform transition duration-500 ease-in-out"
          :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
        ></span>
      </div>
    </button>
    <!-- ...... -->
  </div>
  <!-- .......
  hidden nav
 -->
  <nav
    class="absolute backdrop-blur w-full flex flex-col items-start gap-6 sm:p-6 p-4"
    x-show="expanded"
    @click.outside="expanded = false, open = false"
    x-collapse
  >
    <a
      href="#about_us"
      class="text-sm font-medium hover:cursor-pointer relative group md:font-bold md:text-lg"
      @click="expanded = false, open = false"
    >
      Про нас
    </a>
    <a
      href="#skills"
      class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
      @click="expanded = false, open = false"
    >
      Що вміємо
    </a>
    <a
      href="#why_us"
      class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
      @click="expanded = false, open = false"
    >
      Чому ми?
    </a>
    <a
      href="#team"
      class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
      @click="expanded = false, open = false"
    >
      Команда
    </a>
  </nav>
  <!-- ...... -->
</header>
<!-- ............ -->
<!-- hero section -->
<section
  class="flex items-center h-screen min-h-[600px] bg-purple-200 font-['roboto-slab'] bg-purple-200"
>
  <div
    class="bg-[url('/hero-bg-svg.399ccfa0.svg')] bg-no-repeat md:bg-[95%] bg-[length:90%] sm:bg-[left_calc(50%)_top_calc(25%)] bg-[left_calc(50%)_top_calc(15%)] md:bg-[length:55%] sm:px-10 px-4 sm:py-16 py-10 mx-auto max-w-screen-xl flex flex-col-reverse md:flex-row items-center"
  >
    <h1
      class="md:w-[40%] font-bold md:text-4xl text-center md:text-left text-3xl"
    >
      Привіт, ми - українські дівчата, котрі знайшли себе у front-end розробці
      та прагнуть у ній розвиватись.
    </h1>

    <img
      class="ml-auto md:w-[59%] w-[100%]"
      src="/images/herosection.png"
      alt="Girls"
    />
  </div>
</section>
