<section id="team" class="font-['roboto-slab']">
  <div
    class="sm:px-10 px-4 pt-20 pb-16 box-border max-w-screen-xl mx-auto relative"
  >
    <div
      class="absolute -z-[1] left-[50%] -translate-x-1/2 -translate-y-1/2 flex justify-center gap-[50px]"
    >
      <div
        class="mt-4 bg-purple-200 w-28 h-12 rounded-[50%] rotate-[25deg]"
      ></div>
      <div
        class="bg-purple-200 w-28 h-12 rounded-[50%] -z-[1] -rotate-[30deg]"
      ></div>
    </div>
    <h2 class="font-bold text-3xl text-center">Команда</h2>
    <div class="pt-12 pb-9 columns-2 lg:columns-4 md:columns-3">
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-square relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/alla-honcharova.f40ce0ba.png')] bg-[length:100%] bg-[left_calc(35%)_top_calc(23%)] bg-no-repeat max-w-full h-full rounded-lg"
          ></div>
          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Алла Гончарова
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Web Development
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/alla2021" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a
                  href="https://www.linkedin.com/in/alla-honcharova"
                  target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-square relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/dianna-krykunova.b107d257.png')] bg-[length:100%] bg-[left_calc(35%)_top_calc(23%)] bg-no-repeat max-w-full h-full rounded-lg"
          ></div>
          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Діанна Крикунова
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Prototyping & Web Design
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/PuhLopuh" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a
                  href="https://www.linkedin.com/in/dianna-krykunova-893247270/"
                  target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-video relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/Svitlana-Rudyeva.67a592d2.webp')] bg-[length:130%] bg-[left_calc(35%)_top_calc(50%)] bg-no-repeat max-w-full h-full rounded-lg"
          ></div>

          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Світлана Рудєва
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Founder
                </li>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Content creation & PR Management
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/Switlo" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a
                  href="https://www.linkedin.com/in/svitlana-rudyeva-19156a181/"
                  target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-video relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/halyna-stepanenko.689e44b7.jpg')] bg-[length:111%] bg-[left_calc(100%)_top_calc(0%)] bg-no-repeat max-w-full h-full rounded-lg"
          ></div>
          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Галина Степаненко
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Web Development
                </li>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Pre-release layout editing
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/galinavikst" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a
                  href="https://www.linkedin.com/in/halyna-stepanenko/"
                  target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-square relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/Olha-Zarichna.63e2d6f1.webp')] bg-[left_calc(0%)_top_calc(30%)] bg-cover bg-no-repeat max-w-full h-full rounded-lg"
          ></div>
          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Ольга Зарічна
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Web Development
                </li>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Setting up Project's GitHub
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/Olyazarichna" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a href="http://linkedin.com/in/olya-zarichna" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 break-inside-avoid">
        <div
          x-data="{ open: false }"
          @mouseover="open = true"
          @mouseleave="open = false"
          @click.outside="open = false"
          :class="[open ? 'opacity-100' : 'opacity-80']"
          class="w-full aspect-square relative p-2 bg-[#9D7FAD] rounded hover:opacity-100 hover:cursor-pointer ease-in-out duration-300"
        >
          <div
            class="w-[100%] bg-[url('/Kolesnikova.a2c7e96e.webp')] bg-[left_calc(0%)_top_calc(30%)] bg-cover bg-no-repeat max-w-full h-full rounded-lg"
          ></div>
          <div
            class="flex flex-col py-1 w-full absolute left-0 bottom-0 rounded-bottom-right rounded-br rounded-bl opacity-90 bg-purple-200 text-indigo-950"
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:leave="transition ease-out duration-300"
            x-cloak
          >
            <p class="font-bold text-center sm:text-base text-xs">
              Олександра Колеснікова
            </p>
            <div class="flex flex-col gap-1">
              <ul>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Kanban
                </li>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Project Documentation
                </li>
                <li
                  class="text-center sm:text-base text-xs leading-none lg:leading-normal"
                >
                  Content Localization
                </li>
              </ul>
              <div class="flex justify-center gap-2">
                <a href="https://github.com/AleKoles" target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/github.svg"
                    alt="github"
                    width="15"
                /></a>
                <a
                  href="https://www.linkedin.com/in/oleksandra-kolesnikova/"
                  target="_blank"
                  ><img
                    class="opacity-50 hover:scale-105 ease-in 150ms"
                    src="/images/linkedin.svg"
                    alt="linkedin"
                    width="15"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="py-3 px-8 rounded-full w-full sm:w-auto border-2 border-pink-400 lleading-tight font-bold text-2xl sm:text-3xl bg-pink-400 text-white block mx-auto hover:bg-white hover:text-pink-400 ease-in-out duration-200"
    >
      Попрацюємо разом?
    </button>
  </div>
</section>
